.boxVideo{
    width: 50%;
    margin-bottom: em(15);
    @include responsive($md){
        margin-bottom: em(30);
    }
    &:nth-child(2n){
        .space{
            padding-right: em(30);
            @include responsive($md){
                padding-right: em(45);
            }
        }
    }
    &:nth-child(2n + 1){
        .space{
            padding-left: em(30);
            @include responsive($md){
                padding-left: em(45);
            }
        }
    }
    .space{
        padding: 0 em(7.5);
        @include responsive($md){
            padding: 0 em(15);
        }
        cursor: pointer;
        .content{
            height: em(200);
            background: #f00;
            border: em(1) solid $corMarrom;
            background-size: cover!important;
            position: relative;
            display: flex;
            align-items: flex-end;
            .title{
                padding: em(20) em(15);
                background: rgba(0,0,0,0.6);
                text-align: center;
                @extend .fontArial;
                color: #fff;
                width: 100%;
                font-size: em(14);
                line-height: em(18);
                @include animate(.2);
                @include responsive($md){
                    font-size: em(12);
                }
            }
        }
        &:hover{
            .content{
                .title{
                    @include animate(.4);
                    padding-bottom: em(40);
                }
            }
        }
    }
}

.ReactModal__Overlay{
    background-color: rgba(14, 4, 4, 0.8) !important;
}
.ReactModal__Content{
    background: #000!important;
    border-radius: 0!important;
    border: em(1) solid $corMarrom!important;
    iframe{
        width: 100%;
        height: em(200);
        @include responsive($md){
            width: em(800);
            height: em(400);
        }
    }
}