.pageHome{
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    @include responsive($md){
        flex-direction: row;
    }
    .leftColumn{
        width: 100%;
        display: block;
       
        flex-direction: column;
        align-items: center;
        @include responsive($md){
            padding: em(15) em(30) 0;
            max-width: em(400);
            min-width: em(400);
            padding-top: em(70);
            display: flex;
        }
        .logo{
            @include responsive(0, $md){
                margin-top: em(15);
                margin-left: em(30);
            }
            img{
                max-width: em(150);
                @include responsive($md){
                    max-width: em(250);
                }
            }
        }
    }
    .rightColumn{
        width: 100%;
        
        position: relative;
        display: block;
        @include responsive(0, $md){
            max-height: 85vh;
            overflow: auto;
        }
        @include responsive($md){
            background: rgba(0,0,0,0.4);
            border-left: em(2) solid rgba(255,255,255, .1);
        }
        .contentScroll{
            padding: 0;
            position: relative;
            overflow: auto;
            height: 100%;
            max-height: 100%;
            @include responsive($md){
                max-height: 100vh;
            }
            .scrollNav{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                padding: em(45) 0 em(15);
            }
            .loading{
                position: relative;
                justify-content: center;
                margin-bottom: em(30);
                display: none;
                width: 100%;
                &.activeLoading{
                    display: flex;
                }
                .load{
                    width: em(60);
                    height: em(60);
                    border: em(3) solid $corMarrom;
                    border-left: em(1) solid rgba(0,0,0,0.2);
                    border-right: em(1) solid rgba(0,0,0,0.2);
                    border-radius: 100%;
                    animation-name: spin;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }
        }
        .contentLoad{
            width: 100%;
            display: flex;
            justify-content: center;
            button{
                padding-left: em(100);
                padding-right: em(100);
                margin-bottom: em(45);
            }
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}