.pageLogin{
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
    .content{
        position: relative;
        z-index: 2;
        max-width: em(300);
        .logo{
            img{
                max-width: em(300);
            }
        }
        .contentButton{
            text-align: center;
            padding-top: em(30);
        }
    }
    
}